@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

header {
    
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 1em 3em 1em 4.5em;
    box-shadow: 0px 6px 5px -1px #f8f6f6;

}

#logo {
    display: flex;
    align-items: center;
    
}

h1 {
    font-size: 3ch;
    font-family: "Oxygen", sans-serif;
}

#logo img {
    height: 2em;
    padding-right: .5em;
}

#navbar {
    display: flex;
    align-items: center;
}

#navbar * {
    margin: 0 .7em 0 .7em;
    cursor: pointer;
}

#navbar p:first-of-type {
    border: 1px solid black;
    border-radius: 10px;
    height: 20px;
    line-height: 1px;
    font-size: 1.3ch;
    font-weight: 100;
    padding: 1em;
    
}
#navbar p:last-of-type {
    background-color: #f4511e;
    color: white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 21px;
}

main {
    border-right: 1px solid #e7e7e7;
    padding: 3em 3em 3em 4em;
}

#upContainer {
    display: flex;
    margin-bottom: 2em;
}

#upContainer * {
    border-bottom: 1px solid #e7e7e7;
    width: 30%;
    font-size: 10px;
    padding-bottom: .6em;
}

#upContainer p:first-of-type {
    width: 16%;
}
#upContainer strong:first-of-type {
    width: 28%;
    border-bottom: 1px solid black;
}

#subContainer {
    width: 100%;
}

.card {
    display: flex;
    align-items: center;
    height: 170px;
}

.text {
    padding-right: 1em;
}

.text div:nth-of-type(1) {
    display: flex;
    font-size: x-small;
}
.text div:nth-of-type(1) img {
    margin: 0 1em .5em 0;
}

.text div:nth-of-type(2) h2 {
    font-size: 1.5ch;
    padding-bottom: .5em;
}
.text div:nth-of-type(2) p {
    font-size: 1ch;
    color: #9e9e9e;
    padding-bottom: .5em;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-footer ul {
    display: flex;
    color: #9e9e9e;
    padding: 1em .4em 1em 0;
    justify-content: flex-start;
    align-items: center;
}
.card-footer ul li {
    padding-right: 1.4em;
    font-size: 1.6ch;

}

.card-footer li:first-child {
    list-style-type: none;
}

.card-footer li:nth-child(3) {
    border-radius: 10px;
    background-color: rgb(217, 217, 217);
    padding: .1em 1.4em .1em 1em;
}

.card-footer li:nth-child(4) {
    margin-left: 2em;
}


.mini-img {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.card-img img {
    width: 140px;
    height: 100px;
}


aside {
    padding: 3em;
}

#superContainer {
    display: flex;
}